/var
/etc/set-env-vars.el
/etc/web-bookmarks.el
/skk/jisyo
/skk/jisyo.bak
/skk/record
/tramp
/tutorial
/session.*
/auto-save-list
/elpa
/.dap-breakpoints
/.cache
/eclipse.jdt.ls
/workspace
/etc/docker/.vagrant
/emojis
/network-security.data
/request
/transient
/eln-cache
/.org-id-locations
/tree-sitter